<div class="col-1">
  <img src="/img/profile_pic.png" />
  <div>
    Wile E. Coyote<br/>
    Genius
  </div>
</div>
<div class="col-2">
  <h1>Albuquerque, NM</h1>
  <h2 class="bm">16 hours ago</h2>
  <h2>Speed: 94mph</h2>
  <h2 class="bm">Direction: North East</h2>
  <img class="bbm" src="/img/albuquerque_large.png" />
</div>