<div class="col-1">
  <img src="/img/profile_pic.png" />
  <div>
    Wile E. Coyote<br/>
    Genius
  </div>
</div>
<div class="col-2">
  <h1>Cincinnati, OH</h1>
  <h2 class="bm">29 minutes ago</h2>
  <h2>Speed: 102mph</h2>
  <h2 class="bm">Direction: East</h2>
  <img class="bbm" src="/img/cincy_large.png" />
</div>