<div class="col-1">
  <img src="/img/profile_pic.png" />
  <div>
    Wile E. Coyote<br/>
    Genius
  </div>
</div>
<div class="col-2">
  <div class="main-map">
    <img src="/img/main_map.png" />
  </div>
  <div class="location-choice">
    <a href="/location/cincy" class="cincy">
      Cincinnati, OH
    </a>
  </div>

  <div class="location-choice">
    <a href="/location/stlouis" class="stlouis">
      St. Louis, MO
    </a>
  </div>

  <div class="location-choice">
    <a href="/location/wichita" class="wichita">
      Wichita, KA
    </a>
  </div>

  <div class="location-choice">
    <a href="/location/albuquerque" class="albuquerque">
      Albuquerque, NM
    </a>
  </div>

</div>