<!doctype html>
<html lang="en">
<head data-template-set="html5-reset">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>ACME Roadrunner Locater</title>

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
<div id="main">
  <%- partial('header') %>
  <div id="content">
    <%- body %>
  </div>
</div>
</body>
</html>