<div class="col-1">
  <img src="/img/profile_pic.png" />
  <div>
    Wile E. Coyote<br/>
    Genius
  </div>
</div>
<div class="col-2">
  <h1>Wichita, KA</h1>
  <h2 class="bm">10 hours ago</h2>
  <h2>Speed: 98mph</h2>
  <h2 class="bm">Direction: North East</h2>
  <img class="bbm" src="/img/wichita_large.png" />
</div>